@model IEnumerable<ASM_ADIDAS.Models.Sanpham>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTaSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhomSpNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTaSp)
            </td>
            <td>
                @*<img src="~/images/@item.HinhAnh"/>*@
                @Html.DisplayFor(modelItem => item.HinhAnh)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhomSpNavigation.TenNhom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
